@import "reset.scss";
@import "theme.scss";

body,
html {
  background-color: $backgroundColor;
}

.home-container {
  .header-image-section {
    height: calc(100vh - 100px);
    background-image: url("../../src/assets/header-background-image.svg");
    background-size: cover;
    background-position: 60%;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      opacity: 0.1;
    }
  }

  .projects-section {
    height: 689px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    h3 {
      align-self: center;
      margin-top: 60px;
      text-transform: uppercase;
      font-family: sans-serif;
      color: $primaryColor;
    }

    ul {
      li {
        background-color: $houseCard;
        height: 300px;
        img {
          object-fit: cover;
        }
        p {
          margin-top: 10px;
          margin-left: 15px;
          font-weight: bold;
          font-family: sans-serif;

          + p {
            margin-top: 10px;
          }
        }
      }
    }

    button {
      background-color: $primaryColor;
      font-size: 24px;
      color: $backgroundColor;
      text-transform: uppercase;
      font-family: $buttonFontFamily;
      height: 50px;
      width: 200px;
      border-radius: 3px;
      border: 0;
      outline: 1px solid black;
      align-self: center;
    }
  }

  .galery-carousel-section {
    width: 100%;
    height: 689px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    h3 {
      align-self: center;
      font-family: $primaryFontFamily;
    }
  }

  .properties-section {
    background-color: $houseCard;
    width: 100%;

    ul {
      li {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        img {
          object-fit: cover;
        }
        strong {
          font-family: sans-serif;
          margin-top: 10px;
        }
        p {
          margin-top: 30px;
          font-family: sans-serif;
        }
        button {
          margin-top: 10px;
          height: 40px;
          width: 100px;
          color: #444;
          font-size: 18px;
          font-family: $buttonFontFamily;
          border: 1px solid #444;
          border-radius: 3px;
          cursor: pointer;
        }
      }
    }
  }

  .footer-section {
    height: 889px;

    .location-container {
      background-image: url("../assets/footer-background.svg");
      background-size: cover;
      background-position: 50%;
      background-repeat: no-repeat;
      height: 50%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      .location-content {
        background-color: #f0f0f0;
        opacity: 0.9;
        height: 250px;
        width: 250px;
        border-radius: 3px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        p {
          text-align: center;
          font-weight: bold;
          font-family: sans-serif;
          margin-bottom: 40px;
        }
      }
    }

    .footer-container {
      height: 50%;
      display: flex;
      flex-direction: column;

      .links-container {
        display: flex;
        justify-content: center;
        li {
          padding: 10px;
          list-style: none;
        }
      }

      .newsletter-container {
        height: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        p {
          font-size: 18px;
          font-family: $buttonFontFamily;
        }
        input {
          height: 40px;
          padding: 5px;
          font-size: 18px;
          border: 1px solid;
        }
        button {
          padding: 5px;
          border: 0;
          background-color: $primaryColor;
          color: #fff;
          height: 40px;
          text-transform: uppercase;
          font-size: 18px;
        }
      }

      .last-footer-container {
        height: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .social-media-container {
          background-color: red;
          height: 100px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
        }

        strong {
          align-self: center;
          font-family: $primaryFontFamily;
        }
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  .app {
    background-color: red;
  }
}
