@import "reset.scss";
@import "theme.scss";

body,
html {
  background-color: $backgroundColor;
}

.home-container {
  .header-image-section {
    height: calc(100vh - 100px);
    background-image: url("../../src/assets/header-background-image.svg");
    background-size: cover;
    background-position: 60%;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      opacity: 0.1;
    }
  }
}
