@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap");

$primaryColor: #162950;
$backgroundColor: #f8f8f8;
$houseCard: rgba(223, 223, 223, 0.624);
$primaryFontFamily: "Poppins", sans-serif;
$buttonFontFamily: "Nunito", sans-serif;
