@import "../../styles/theme.scss";

.headerContainer {
  height: 100px;
  width: 100%;
  background-color: $backgroundColor;

  .logoSection {
    height: 100%;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media only screen and (min-width: 768px) {
  .headerContainer {
    height: 100px;
    width: 100%;
    background-color: $backgroundColor;
    display: flex;
    justify-content: space-between;

    .logoSection {
      height: 100%;
      width: 30%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
